.cow-row{
    position: absolute;
    display: flex;
    margin-top: 20vh;
    width: 100%;
}
@media (min-width: 1280px) {
  #next-button {
    position: absolute;
    top: 80vh;
    left: 40vw;
    border: 0;
    background-color: #794499;
    width: 20vw;
    height: 5vh;
    color: white;
  }
}

@media (max-width: 599px) {
  #next-button {
    position: absolute;
    top: 80vh;
    left: 25vw;
    border: 0;
    background-color: #794499;
    width: 50vw;
    height: 5vh;
    color: white;
    font-size: 1.5vh;
  }
}

@media (min-width: 600px) {
  #next-button {
    position: absolute;
    top: 80vh;
    left: 35vw;
    border: 0;
    background-color: #794499;
    width: 30vw;
    height: 5vh;
    color: white;
    font-size: 1.8vh;
  }
}


.cow-position-test {
  height: 200px;
  top: 40vh
}

#cow-1 {
  position: absolute;
  left: 6.944444444444445vw;
  animation: 
  dance 5s linear 0s normal 1 forwards,
  leave 6s linear 5s normal 1 forwards, 
  flip-left-edge-to-right 5s linear 11s normal 1 forwards, 
  fourth-cow-go-left 6s linear 16s normal 1 forwards, 
  dance 5s linear 21s normal 1 forwards,
  third-cow-go-left 6s linear 27s normal 1 forwards, 
  dance 5s linear 33s normal 1 forwards,
  second-cow-go-left 6s linear 38s normal 1 forwards, 
  dance 5s linear 43s normal 1 forwards,
  leave 6s linear 49s normal 1 forwards, 
  flip-left-edge-to-right 5s linear 55s normal 1 forwards, 
  fourth-cow-go-left 6s linear 60s normal 1 forwards, 
  dance 5s linear 66s normal 1 forwards,
  third-cow-go-left 6s linear 71s normal 1 forwards, 
  dance 5s linear 77s normal 1 forwards,
  second-cow-go-left 6s linear 82s normal 1 forwards, 
  dance 5s linear 88s normal 1 forwards,
  leave 6s linear 93s normal 1 forwards, 
  flip-left-edge-to-right 5s linear 99s normal 1 forwards, 
  fourth-cow-go-left 6s linear 104s normal 1 forwards,
  dance 5s linear 110s normal 1 forwards, 
  third-cow-go-left 6s linear 115s normal 1 forwards, 
  dance 5s linear 121s normal 1 forwards,
  second-cow-go-left 6s linear 126s normal 1 forwards, 
  dance 5s linear 132s normal 1 forwards,
  leave 6s linear 137s normal 1 forwards, 
  flip-left-edge-to-right 5s linear 143s normal 1 forwards,
  fourth-cow-go-left 6s linear 148s normal 1 forwards,
  dance 5s linear 154s normal 1 forwards,
  third-cow-go-left 6s linear 159s normal 1 forwards, 
  dance 5s linear 165s normal 1 forwards,
  second-cow-go-left 6s linear 170s normal 1 forwards,
  dance 10s linear 176s normal infinite none;
}

#cow-2 {
  position: absolute;
  left: 34.72222222222222%;
  animation: 
  dance 5s linear 0s normal 1 forwards,
  second-cow-go-left 6s linear 5s normal 1 forwards,
  dance 5s linear 11s normal 1 forwards,
  leave 6s linear 16s normal 1 forwards, 
  flip-left-edge-to-right 5s linear 22s normal 1 forwards, 
  fourth-cow-go-left 6s linear 27s normal 1 forwards, 
  dance 5s linear 33s normal 1 forwards,
  third-cow-go-left 6s linear 38s normal 1 forwards, 
  dance 5s linear 44s normal 1 forwards,
  second-cow-go-left 6s linear 49s normal 1 forwards, 
  dance 5s linear 55s normal 1 forwards,
  leave 6s linear 60s normal 1 forwards, 
  flip-left-edge-to-right 5s linear 66s normal 1 forwards, 
  fourth-cow-go-left 6s linear 71s normal 1 forwards,
  dance 5s linear 76s normal 1 forwards, 
  third-cow-go-left 6s linear 82s normal 1 forwards,
  dance 5s linear 88s normal 1 forwards, 
  second-cow-go-left 6s linear 93s normal 1 forwards, 
  dance 5s linear 99s normal 1 forwards,
  leave 6s linear 104s normal 1 forwards, 
  flip-left-edge-to-right 5s linear 110s normal 1 forwards,
  fourth-cow-go-left 6s linear 115s normal 1 forwards,
  dance 5s linear 121s normal 1 forwards,
  third-cow-go-left 6s linear 126s normal 1 forwards, 
  dance 5s linear 132s normal 1 forwards,
  second-cow-go-left 6s linear 137s normal 1 forwards, 
  dance 5s linear 143s normal 1 forwards,
  leave 6s linear 148s normal 1 forwards, 
  flip-left-edge-to-right 5s linear 154s normal 1 forwards, 
  fourth-cow-go-left 6s linear 159s normal 1 forwards,
  dance 5s linear 165s normal 1 forwards,
  third-cow-go-left 6s linear 170s normal 1 forwards,
  dance 10s linear 176s normal infinite none;
}

#cow-3 {
  position: absolute;
  left: 62.5%;
  animation: 
  dance 5s linear 0s normal 1 forwards,
  third-cow-go-left 6s linear 5s normal 1 forwards, 
  dance 5s linear 11s normal 1 forwards,
  second-cow-go-left 6s linear 16s normal 1 forwards, 
  dance 5s linear 22s normal 1 forwards,
  leave 6s linear 27s normal 1 forwards, 
  flip-left-edge-to-right 3s linear 33s normal 1 forwards,
  fourth-cow-go-left 6s linear 38s normal 1 forwards,
  dance 5s linear 44s normal 1 forwards,
  third-cow-go-left 6s linear 49s normal 1 forwards, 
  dance 5s linear 55s normal 1 forwards,
  second-cow-go-left 6s linear 60s normal 1 forwards,
  dance 5s linear 66s normal 1 forwards, 
  leave 6s linear 71s normal 1 forwards, 
  flip-left-edge-to-right 3s linear 77s normal 1 forwards,
  fourth-cow-go-left 6s linear 82s normal 1 forwards,
  dance 5s linear 88s normal 1 forwards,
  third-cow-go-left 6s linear 93s normal 1 forwards,
  dance 5s linear 99s normal 1 forwards, 
  second-cow-go-left 6s linear 104s normal 1 forwards, 
  dance 5s linear 110s normal 1 forwards,
  leave 6s linear 115s normal 1 forwards, 
  flip-left-edge-to-right 3s linear 121s normal 1 forwards,
  fourth-cow-go-left 6s linear 126s normal 1 forwards,
  dance 5s linear 132s normal 1 forwards,
  third-cow-go-left 6s linear 137s normal 1 forwards, 
  dance 5s linear 143s normal 1 forwards,
  second-cow-go-left 6s linear 148s normal 1 forwards, 
  dance 5s linear 154s normal 1 forwards,
  leave 6s linear 159s normal 1 forwards,
  flip-left-edge-to-right 5s linear 165s normal 1 forwards,
  fourth-cow-go-left 6s linear 171s normal 1 forwards,
  dance 10s linear 176s normal infinite none;
}

#cow-4 {
  position: absolute;
  left: 104.16666666666667%;
  animation: 
  dance 5s linear 0s normal 1 forwards,
  fourth-cow-go-left 6s linear 5s normal 1 forwards, 
  dance 5s linear 11s normal 1 forwards,
  third-cow-go-left 6s linear 16s normal 1 forwards,
  dance 5s linear 22s normal 1 forwards, 
  second-cow-go-left 6s linear 27s normal 1 forwards, 
  dance 5s linear 33s normal 1 forwards,
  leave 6s linear 38s normal 1 forwards, 
  flip-left-edge-to-right 5s linear 44s normal 1 forwards, 
  fourth-cow-go-left 6s linear 49s normal 1 forwards, 
  dance 5s linear 55s normal 1 forwards,
  third-cow-go-left 6s linear 60s normal 1 forwards, 
  dance 5s linear 66s normal 1 forwards,
  second-cow-go-left 6s linear 71s normal 1 forwards, 
  dance 5s linear 77s normal 1 forwards,
  leave 6s linear 82s normal 1 forwards,  
  flip-left-edge-to-right 5s linear 88s normal 1 forwards, 
  fourth-cow-go-left 6s linear 93s normal 1 forwards, 
  dance 5s linear 99s normal 1 forwards,
  third-cow-go-left 6s linear 104s normal 1 forwards,
  dance 5s linear 110s normal 1 forwards, 
  second-cow-go-left 6s linear 115s normal 1 forwards, 
  dance 5s linear 121s normal 1 forwards,
  leave 6s linear 126s normal 1 forwards, 
  flip-left-edge-to-right 5s linear 132s normal 1 forwards, 
  fourth-cow-go-left 6s linear 137s normal 1 forwards,
  dance 5s linear 143s normal 1 forwards, 
  third-cow-go-left 6s linear 148s normal 1 forwards, 
  dance 5s linear 154s normal 1 forwards,
  second-cow-go-left 6s linear 159s normal 1 forwards, 
  dance 5s linear 166s normal 1 forwards,
  leave 6s linear 170s normal 1 forwards;
}


@keyframes dance {
  0%  {transform: rotate(0deg);}
  2.5%  {transform: rotate(1deg);}
  5%  {transform: rotate(2deg);}
  7.5%  {transform: rotate(3deg);}
  10%  {transform: rotate(6deg);}
  12.5%  {transform: rotate(9deg);}
  15%  {transform: rotate(12deg);}
  17.5%  {transform: rotate(9deg);}
  20%  {transform: rotate(6deg);}
  22.5%  {transform: rotate(3deg);}
  25%  {transform: rotate(0deg);}
  27.5%  {transform: rotate(0deg);}
  30%  {transform: rotate(1deg);}
  32.5%  {transform: rotate(2deg);}
  35%  {transform: rotate(3deg);}
  37.5%  {transform: rotate(6deg);}
  40%  {transform: rotate(9deg);}
  42.5%  {transform: rotate(12deg);}
  45%  {transform: rotate(9deg);}
  47.5%  {transform: rotate(6deg);}
  50%  {transform: rotate(3deg);}
  52.5%  {transform: rotate(0deg);}
  55%  {transform: rotate(0deg);}
  57.5%  {transform: rotate(1deg);}
  60%  {transform: rotate(2deg);}
  62.5%  {transform: rotate(3deg);}
  65%  {transform: rotate(6deg);}
  67.5%  {transform: rotate(9deg);}
  70%  {transform: rotate(12deg);}
  72.5%  {transform: rotate(9deg);}
  75%  {transform: rotate(6deg);}
  77.5%  {transform: rotate(3deg);}
  80%  {transform: rotate(0deg);}
  82.5%  {transform: rotate(0deg);}
  85%  {transform: rotate(1deg);}
  87.5%  {transform: rotate(2deg);}
  90%  {transform: rotate(3deg);}
  92.5%  {transform: rotate(6deg);}
  95%  {transform: rotate(9deg);}
  97.5%  {transform: rotate(12deg);}
  100%  {transform: rotate(9deg);}
}

@keyframes leave {
  0%  {transform: rotate(0deg); left: 6.944444444444445vw; top: 40vh ;}
  2.5%  {transform: rotate(1deg); left: 6.25vw; top: 40vh ;}
  5%  {transform: rotate(2deg); left: 5.555555555555555vw; top: 40vh ;}
  7.5%  {transform: rotate(3deg); left: 4.861111111111112vw; top: 40vh ;}
  10%  {transform: rotate(6deg); left: 4.166666666666666vw; top: 40vh ;}
  12.5%  {transform: rotate(9deg); left: 3.4722222222222223vw; top: 40vh ;}
  15%  {transform: rotate(12deg); left:  2.7777777777777777vw; top: 40vh  ;}
  17.5%  {transform: rotate(9deg); left: 2.083333333333333vw; top: 40vh  ; }
  20%  {transform: rotate(6deg); left: 1.3888888888888888vw; top: 40vh  ; }
  22.5%  {transform: rotate(3deg); left: 0.6944444444444444vw; top: 40vh  ; }
  25%  {transform: rotate(2deg); left:  0vw; top: 40vh ;}
  27.5%  {transform:  rotate(0deg); left:  -0.6944444444444444vw; top: 40vh ;}
  30%  {transform: rotate(1deg); left: -1.3888888888888888vw; top: 40vh  ;}
  32.5%  {transform: rotate(2deg); left: -2.083333333333333vw; top: 40vh  ;}
  35%  {transform: rotate(3deg); left: -2.7777777777777777vw; top: 40vh }
  37.5%  {transform: rotate(6deg); left:  -4.166666666666666vw; top: 40vh  ;}
  40%  {transform: rotate(9deg); left: -5.555555555555555vw; top: 40vh  ; }
  42.5%  {transform: rotate(12deg); left: -6.944444444444445vw; top: 40vh  ; }
  45%  {transform: rotate(9deg); left: -8.333333333333332vw; top: 40vh  ; }
  47.5%  {transform:  rotate(6deg); left: -9.722222222222223vw; top: 40vh ; }
  50%  {transform:  rotate(3deg); left: -11.11111111111111vw; top: 40vh ; }
  52.5%  {transform:  rotate(0deg); left:  -12.5vw; top: 40vh ;}
  55%  {transform: rotate(0deg); left:  -13.88888888888889vw; top: 40vh  ;}
  57.5%  {transform: rotate(1deg); left: -15.277777777777779vw; top: 40vh  ; }
  60%  {transform:  rotate(2deg); left: -16.666666666666664vw; top: 40vh ; }
  62.5%  {transform: rotate(3deg); left: -18.055555555555554vw; top: 40vh  ; }
  65%  {transform: rotate(6deg); left: -19.444444444444446vw; top: 40vh  ; }
  67.5%  {transform: rotate(9deg); left: -20.833333333333336vw; top: 40vh   ; }
  70%  {transform: rotate(12deg); left: -22.22222222222222vw; top: 40vh   }
  72.5%  {transform: rotate(9deg); left: -23.61111111111111vw; top: 40vh ; }
  75%  {transform: rotate(6deg); left: -25vw; top: 40vh  ; }
  77.5%  {transform: rotate(3deg); left: -26.38888888888889vw; top: 40vh  ; }
  80%  {transform: rotate(0deg); left: -27.77777777777778vw; top: 40vh ;}
  100%  {transform: rotate(9deg); left: -27.77777777777778vw; top: 40vh; display: none;}
}

@keyframes second-cow-go-left {
  0%  {transform: rotate(0deg); left: 34.72222222222222%;}
  2.5%  {transform: rotate(1deg); left: 34.375%;}
  5%  {transform: rotate(2deg); left: 34.02777777777778%}
  7.5%  {transform: rotate(3deg); left: 33.68055555555556%}
  10%  {transform: rotate(6deg); left: 33.33333333333333%}
  12.5%  {transform: rotate(9deg); left: 32.98611111111111%}
  15%  {transform: rotate(12deg); left: 32.63888888888889%}
  17.5%  {transform: rotate(9deg); left: 32.29166666666667%}
  20%  {transform: rotate(6deg); left: 31.944444444444443%}
  22.5%  {transform: rotate(3deg); left: 31.59722222222222%}
  25%  {transform: rotate(0deg); left: 31.25%}
  27.5%  {transform: rotate(0deg); left: 30.90277777777778%;}
  30%  {transform: rotate(1deg); left: 30.555555555555557%;}
  32.5%  {transform: rotate(2deg); left: 30.208333333333332%}
  35%  {transform: rotate(3deg); left: 29.86111111111111%}
  37.5%  {transform: rotate(6deg); left: 29.51388888888889%}
  40%  {transform: rotate(9deg); left: 29.166666666666668%}
  42.5%  {transform: rotate(12deg); left: 28.819444444444443%}
  45%  {transform: rotate(9deg); left: 28.47222222222222%}
  47.5%  {transform: rotate(6deg); left: 28.125%}
  50%  {transform: rotate(3deg); left: 27.77777777777778%}
  52.5%  {transform: rotate(0deg); left: 27.430555555555557%}
  55%  {transform: rotate(0deg); left: 27.083333333333332%;}
  57.5%  {transform: rotate(1deg); left: 26.73611111111111%;}
  60%  {transform: rotate(2deg); left: 26.38888888888889%}
  62.5%  {transform: rotate(3deg); left: 26.041666666666668%}
  65%  {transform: rotate(6deg); left: 25.694444444444443%}
  67.5%  {transform: rotate(9deg); left: 25%}
  70%  {transform: rotate(12deg); left: 23.61111111111111%}
  72.5%  {transform: rotate(9deg); left: 22.22222222222222%}
  75%  {transform: rotate(6deg); left: 20.833333333333336%}
  77.5%  {transform: rotate(3deg); left: 19.444444444444446%}
  80%  {transform: rotate(0deg); left: 18.055555555555554%}
  82.5%  {transform: rotate(0deg); left: 16.666666666666664%;}
  85%  {transform: rotate(1deg); left: 15.277777777777779%;}
  87.5%  {transform: rotate(2deg); left: 13.88888888888889%}
  90%  {transform: rotate(3deg); left: 12.5%}
  92.5%  {transform: rotate(6deg); left: 11.11111111111111%}
  95%  {transform: rotate(9deg); left: 9.722222222222223%}
  97.5%  {transform: rotate(12deg); left: 8.333333333333332%}
  100%  {transform: rotate(9deg); left: 6.944444444444445%}
}

@keyframes third-cow-go-left {
  0%  {transform: rotate(0deg); left: 62.5%;}
  2.5%  {transform: rotate(1deg); left: 62.15277777777778%;}
  5%  {transform: rotate(2deg); left: 61.80555555555556%}
  7.5%  {transform: rotate(3deg); left: 61.458333333333336%}
  10%  {transform: rotate(6deg); left: 61.111111111111114%}
  12.5%  {transform: rotate(9deg); left: 60.763888888888886%}
  15%  {transform: rotate(12deg); left: 60.416666666666664%}
  17.5%  {transform: rotate(9deg); left: 60.06944444444444%}
  20%  {transform: rotate(6deg); left: 59.72222222222222%}
  22.5%  {transform: rotate(3deg); left: 59.375%}
  25%  {transform: rotate(0deg); left: 59.02777777777778%}
  27.5%  {transform: rotate(0deg); left: 58.68055555555556%;}
  30%  {transform: rotate(1deg); left: 58.333333333333336%;}
  32.5%  {transform: rotate(2deg); left: 57.986111111111114%}
  35%  {transform: rotate(3deg); left: 57.638888888888886%}
  37.5%  {transform: rotate(6deg); left: 57.291666666666664%}
  40%  {transform: rotate(9deg); left: 56.94444444444444%}
  42.5%  {transform: rotate(12deg); left: 56.59722222222222%}
  45%  {transform: rotate(9deg); left: 56.25%}
  47.5%  {transform: rotate(6deg); left: 55.90277777777778%}
  50%  {transform: rotate(3deg); left: 55.55555555555556%}
  52.5%  {transform: rotate(0deg); left: 55.208333333333336%}
  55%  {transform: rotate(0deg); left: 54.861111111111114%;}
  57.5%  {transform: rotate(1deg); left: 54.513888888888886%;}
  60%  {transform: rotate(2deg); left: 54.166666666666664%}
  62.5%  {transform: rotate(3deg); left: 53.81944444444444%}
  65%  {transform: rotate(6deg); left: 53.47222222222222%}
  67.5%  {transform: rotate(9deg); left: 52.77777777777778%}
  70%  {transform: rotate(12deg); left: 51.388888888888886%}
  72.5%  {transform: rotate(9deg); left: 50%}
  75%  {transform: rotate(6deg); left: 48.61111111111111%}
  77.5%  {transform: rotate(3deg); left: 47.22222222222222%}
  80%  {transform: rotate(0deg); left: 45.83333333333333%}
  82.5%  {transform: rotate(0deg); left: 44.44444444444444%;}
  85%  {transform: rotate(1deg); left: 43.05555555555556%;}
  87.5%  {transform: rotate(2deg); left: 41.66666666666667%}
  90%  {transform: rotate(3deg); left: 40.27777777777778%}
  92.5%  {transform: rotate(6deg); left: 38.88888888888889%}
  95%  {transform: rotate(9deg); left: 37.5%}
  97.5%  {transform: rotate(12deg); left: 36.11111111111111%}
  100%  {transform: rotate(9deg); left: 34.72222222222222%}
}

@keyframes fourth-cow-go-left {
  0%  {transform: rotate(0deg); left: 104.16666666666667%;}
  2.5%  {transform: rotate(1deg); left: 103.125%;}
  5%  {transform: rotate(2deg); left: 102.08333333333333%}
  7.5%  {transform: rotate(3deg); left: 101.04166666666667%}
  10%  {transform: rotate(6deg); left: 100%}
  12.5%  {transform: rotate(9deg); left: 98.95833333333334%}
  15%  {transform: rotate(12deg); left: 97.91666666666666%}
  17.5%  {transform: rotate(9deg); left: 96.875%}
  20%  {transform: rotate(6deg); left: 95.83333333333334%}
  22.5%  {transform: rotate(3deg); left: 94.79166666666666%}
  25%  {transform: rotate(0deg); left: 93.75%}
  27.5%  {transform: rotate(0deg); left: 92.70833333333334%;}
  30%  {transform: rotate(1deg); left: 91.66666666666666%;}
  32.5%  {transform: rotate(2deg); left: 90.625%}
  35%  {transform: rotate(3deg); left: 89.58333333333334%}
  37.5%  {transform: rotate(6deg); left: 88.54166666666666%}
  40%  {transform: rotate(9deg); left: 87.5%}
  42.5%  {transform: rotate(12deg); left: 86.45833333333334%}
  45%  {transform: rotate(9deg); left: 85.41666666666666%}
  47.5%  {transform: rotate(6deg); left: 84.375%}
  50%  {transform: rotate(3deg); left: 83.33333333333334%}
  52.5%  {transform: rotate(0deg); left: 82.29166666666666%}
  55%  {transform: rotate(0deg); left: 81.25%;}
  57.5%  {transform: rotate(1deg); left: 80.20833333333334%;}
  60%  {transform: rotate(2deg); left: 79.16666666666666%}
  62.5%  {transform: rotate(3deg); left: 78.125%}
  65%  {transform: rotate(6deg); left: 77.08333333333334%}
  67.5%  {transform: rotate(9deg); left: 76.04166666666666%}
  70%  {transform: rotate(12deg); left: 75%}
  72.5%  {transform: rotate(9deg); left: 73.95833333333334%}
  75%  {transform: rotate(6deg); left: 72.91666666666666%}
  77.5%  {transform: rotate(3deg); left: 71.875%}
  80%  {transform: rotate(0deg); left: 70.83333333333334%}
  82.5%  {transform: rotate(0deg); left: 69.79166666666666%;}
  85%  {transform: rotate(1deg); left: 68.75%;}
  87.5%  {transform: rotate(2deg); left: 67.70833333333334%}
  90%  {transform: rotate(3deg); left: 66.66666666666666%}
  92.5%  {transform: rotate(6deg); left: 65.625%}
  95%  {transform: rotate(9deg); left: 64.58333333333334%}
  97.5%  {transform: rotate(12deg); left: 63.541666666666664%}
  100%  {transform: rotate(9deg); left: 62.5%}
}


@keyframes flip-left-edge-to-right {
  0%  {display: none;}
  50%  {left: -27.77777777777778vw; top: 40vh; display: none;}
  55%  {left: -27.77777777777778vw; top: -40vh; display: none;}
  60% {display: none;}
  70% {display: none; left: 117vw; top: -40vh}
  99% {display: none; left: 117vw; top: 40vh}
  100% {display: block; left: 117vw;}
}

#cows {
  display: flex;
  justify-content: center;
}

.individual-cow {
    animation-name: dance;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    position: absolute; 
}

/* #texts-about-cows {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
} */

.distance-one-iphonemax {
  left: 7.474747474747476%
}

.distance-two-iphonemax {
  left: 37.37373737373738%
}

.distance-three-iphonemax {
  left: 67.27272727272727%
}

.distance-one {
  left: 6.944444444444445%
}

.distance-two {
  left: 34.72222222222222%
}

.distance-three {
  left: 62.5%
}

.distance-one-galaxy {
  left: 7.778571428571429%
}

.distance-two-galaxy {
  left: 38.892857142857146%
}

.distance-three-galaxy {
  left: 70.00714285714285%
}

.hidden-three {
  left: 104.16666666666667%;
  position: absolute;
  animation-name: enter;
  animation-duration: 6s;
  animation-fill-mode: forwards;
}

.hidden-three-galaxy {
  left: 116.67857142857143%;
  position: absolute;
  animation-name: enter-galaxy;
  animation-duration: 6s;
  animation-fill-mode: forwards;
}

.hidden-three-iphonemax {
  left: 190.9090909090909%;
  position: absolute;
  animation-name: enter-iphonemax;
  animation-duration: 6s;
  animation-fill-mode: forwards;
}

#minus {
  font-size: 1.8vh;
  width: 175px;
  top: 150px;
  left: 13.88888888888889%;
  position: absolute;
  opacity: 0;
  animation: 
    fade-in-and-out 7.5s linear 3s normal 1 forwards,
    fade-in-and-out 7.5s linear 14s normal 1 forwards,
    fade-in-and-out 7.5s linear 25s normal 1 forwards,
    fade-in-and-out 7.5s linear 36s normal 1 forwards,
    fade-in-and-out 7.5s linear 47s normal 1 forwards,
    fade-in-and-out 7.5s linear 58s normal 1 forwards,
    fade-in-and-out 7.5s linear 69s normal 1 forwards,
    fade-in-and-out 7.5s linear 80s normal 1 forwards,
    fade-in-and-out 7.5s linear 91s normal 1 forwards,
    fade-in-and-out 7.5s linear 102s normal 1 forwards,
    fade-in-and-out 7.5s linear 113s normal 1 forwards,
    fade-in-and-out 7.5s linear 124s normal 1 forwards,
    fade-in-and-out 7.5s linear 135s normal 1 forwards,
    fade-in-and-out 7.5s linear 146s normal 1 forwards,
    fade-in-and-out 7.5s linear 157s normal 1 forwards,
    fade-in-and-out 7.5s linear 168s normal 1 forwards,
    fade-in-and-out 7.5s linear 179s normal 1 forwards,
    fade-in-and-out 7.5s linear 190s normal 1 forwards;
}

#minus-galaxy {
  font-size: 1.5vh;
  top: 200px;
  width: 70px;
  left: 3.571428571428571%;
  position: absolute;
  opacity: 0;
  animation: 
    fade-in-and-out 7.5s linear 3s normal 1 forwards,
    fade-in-and-out 7.5s linear 14s normal 1 forwards,
    fade-in-and-out 7.5s linear 25s normal 1 forwards,
    fade-in-and-out 7.5s linear 36s normal 1 forwards,
    fade-in-and-out 7.5s linear 47s normal 1 forwards,
    fade-in-and-out 7.5s linear 58s normal 1 forwards,
    fade-in-and-out 7.5s linear 69s normal 1 forwards,
    fade-in-and-out 7.5s linear 80s normal 1 forwards,
    fade-in-and-out 7.5s linear 91s normal 1 forwards,
    fade-in-and-out 7.5s linear 102s normal 1 forwards,
    fade-in-and-out 7.5s linear 113s normal 1 forwards,
    fade-in-and-out 7.5s linear 124s normal 1 forwards,
    fade-in-and-out 7.5s linear 135s normal 1 forwards,
    fade-in-and-out 7.5s linear 146s normal 1 forwards,
    fade-in-and-out 7.5s linear 157s normal 1 forwards,
    fade-in-and-out 7.5s linear 168s normal 1 forwards,
    fade-in-and-out 7.5s linear 179s normal 1 forwards,
    fade-in-and-out 7.5s linear 190s normal 1 forwards;
}

#minus-iphonemax {
  font-size: 1.5vh;
  top: 200px;
  left: 10px;
  width: 80px;
  position: absolute;
  opacity: 0;
  animation: 
    fade-in-and-out 7.5s linear 3s normal 1 forwards,
    fade-in-and-out 7.5s linear 14s normal 1 forwards,
    fade-in-and-out 7.5s linear 25s normal 1 forwards,
    fade-in-and-out 7.5s linear 36s normal 1 forwards,
    fade-in-and-out 7.5s linear 47s normal 1 forwards,
    fade-in-and-out 7.5s linear 58s normal 1 forwards,
    fade-in-and-out 7.5s linear 69s normal 1 forwards,
    fade-in-and-out 7.5s linear 80s normal 1 forwards,
    fade-in-and-out 7.5s linear 91s normal 1 forwards,
    fade-in-and-out 7.5s linear 102s normal 1 forwards,
    fade-in-and-out 7.5s linear 113s normal 1 forwards,
    fade-in-and-out 7.5s linear 124s normal 1 forwards,
    fade-in-and-out 7.5s linear 135s normal 1 forwards,
    fade-in-and-out 7.5s linear 146s normal 1 forwards,
    fade-in-and-out 7.5s linear 157s normal 1 forwards,
    fade-in-and-out 7.5s linear 168s normal 1 forwards,
    fade-in-and-out 7.5s linear 179s normal 1 forwards,
    fade-in-and-out 7.5s linear 190s normal 1 forwards;
}

#plus {
  font-size: 1.8vh;
  width: 150px;
  top: 150px;
  left: 83.33333333333334%;
  position: absolute;
  opacity: 0;
  animation: 
    fade-in-and-out 7.5s linear 3s normal 1 forwards,
    fade-in-and-out 7.5s linear 14s normal 1 forwards,
    fade-in-and-out 7.5s linear 25s normal 1 forwards,
    fade-in-and-out 7.5s linear 36s normal 1 forwards,
    fade-in-and-out 7.5s linear 47s normal 1 forwards,
    fade-in-and-out 7.5s linear 58s normal 1 forwards,
    fade-in-and-out 7.5s linear 69s normal 1 forwards,
    fade-in-and-out 7.5s linear 80s normal 1 forwards,
    fade-in-and-out 7.5s linear 91s normal 1 forwards,
    fade-in-and-out 7.5s linear 102s normal 1 forwards,
    fade-in-and-out 7.5s linear 113s normal 1 forwards,
    fade-in-and-out 7.5s linear 124s normal 1 forwards,
    fade-in-and-out 7.5s linear 135s normal 1 forwards,
    fade-in-and-out 7.5s linear 146s normal 1 forwards,
    fade-in-and-out 7.5s linear 157s normal 1 forwards,
    fade-in-and-out 7.5s linear 168s normal 1 forwards,
    fade-in-and-out 7.5s linear 179s normal 1 forwards,
    fade-in-and-out 7.5s linear 190s normal 1 forwards;
}

#plus-galaxy {
  font-size: 1.5vh;
  width: 70px;
  top: 200px;
  right: 3.571428571428571px;
  position: absolute;  
  opacity: 0;
  animation: 
    fade-in-and-out 7.5s linear 3s normal 1 forwards,
    fade-in-and-out 7.5s linear 14s normal 1 forwards,
    fade-in-and-out 7.5s linear 25s normal 1 forwards,
    fade-in-and-out 7.5s linear 36s normal 1 forwards,
    fade-in-and-out 7.5s linear 47s normal 1 forwards,
    fade-in-and-out 7.5s linear 58s normal 1 forwards,
    fade-in-and-out 7.5s linear 69s normal 1 forwards,
    fade-in-and-out 7.5s linear 80s normal 1 forwards,
    fade-in-and-out 7.5s linear 91s normal 1 forwards,
    fade-in-and-out 7.5s linear 102s normal 1 forwards,
    fade-in-and-out 7.5s linear 113s normal 1 forwards,
    fade-in-and-out 7.5s linear 124s normal 1 forwards,
    fade-in-and-out 7.5s linear 135s normal 1 forwards,
    fade-in-and-out 7.5s linear 146s normal 1 forwards,
    fade-in-and-out 7.5s linear 157s normal 1 forwards,
    fade-in-and-out 7.5s linear 168s normal 1 forwards,
    fade-in-and-out 7.5s linear 179s normal 1 forwards,
    fade-in-and-out 7.5s linear 190s normal 1 forwards;
}

#plus-iphonemax {
  font-size: 1.5vh;
  top: 200px;
  width: 80px;
  right: 10px;
  position: absolute;
  opacity: 0;
  animation: 
    fade-in-and-out 7.5s linear 3s normal 1 forwards,
    fade-in-and-out 7.5s linear 14s normal 1 forwards,
    fade-in-and-out 7.5s linear 25s normal 1 forwards,
    fade-in-and-out 7.5s linear 36s normal 1 forwards,
    fade-in-and-out 7.5s linear 47s normal 1 forwards,
    fade-in-and-out 7.5s linear 58s normal 1 forwards,
    fade-in-and-out 7.5s linear 69s normal 1 forwards,
    fade-in-and-out 7.5s linear 80s normal 1 forwards,
    fade-in-and-out 7.5s linear 91s normal 1 forwards,
    fade-in-and-out 7.5s linear 102s normal 1 forwards,
    fade-in-and-out 7.5s linear 113s normal 1 forwards,
    fade-in-and-out 7.5s linear 124s normal 1 forwards,
    fade-in-and-out 7.5s linear 135s normal 1 forwards,
    fade-in-and-out 7.5s linear 146s normal 1 forwards,
    fade-in-and-out 7.5s linear 157s normal 1 forwards,
    fade-in-and-out 7.5s linear 168s normal 1 forwards,
    fade-in-and-out 7.5s linear 179s normal 1 forwards,
    fade-in-and-out 7.5s linear 190s normal 1 forwards;
}

.first-cow {
  animation-name: leave;
  animation-duration: 6s;
  animation-fill-mode: forwards;
  /* left: -270px; */
  position: absolute;
}

.first-cow-galaxy {
  animation-name: leave-galaxy;
  animation-duration: 6s;
  animation-fill-mode: forwards;
  /* left: -270px; */
  position: absolute;
}

.first-cow-iphonemax {
  animation-name: leave-iphonemax;
  animation-duration: 6s;
  animation-fill-mode: forwards;
  /* left: -270px; */
  position: absolute;
}
/* 
.second-cow {
  animation-name: second-cow-go-left;
  animation-duration: 6s;
  animation-fill-mode: forwards;
  position: absolute;
} */

.second-cow-galaxy {
  animation-name: second-cow-go-left-galaxy;
  animation-duration: 6s;
  animation-fill-mode: forwards;
  position: absolute;
}

.second-cow-iphonemax {
  animation-name: second-cow-go-left-iphonemax;
  animation-duration: 6s;
  animation-fill-mode: forwards;
  position: absolute;
}

.third-cow {
  animation-name: third-cow-go-left;
  animation-duration: 6s;
  animation-fill-mode: forwards;
  position: absolute;
}

.third-cow-iphonemax {
  animation-name: third-cow-go-left-iphonemax;
  animation-duration: 6s;
  animation-fill-mode: forwards;
  position: absolute;
}

.third-cow-galaxy {
  animation-name: third-cow-go-left-galaxy;
  animation-duration: 6s;
  animation-fill-mode: forwards;
  position: absolute;
}
  #two-hidden {
      display: none;
  }

  #stageTwoLine {
    /* animation-name: fade-out;
    animation-duration: 18s;
    animation-iteration-count: infinite; */
    max-width: 80%;
    height: 2.083333333333333%;
    min-height: 2.083333333333333%;
    animation: 
    fade-in-and-out 11s linear 0s normal 1 forwards,
    fade-in-and-out 11s linear 11s normal 1 forwards,
    fade-in-and-out 11s linear 22s normal 1 forwards,
    fade-in-and-out 11s linear 33s normal 1 forwards,
    fade-in-and-out 11s linear 44s normal 1 forwards,
    fade-in-and-out 11s linear 55s normal 1 forwards,
    fade-in-and-out 11s linear 66s normal 1 forwards,
    fade-in-and-out 11s linear 77s normal 1 forwards,
    fade-in-and-out 11s linear 88s normal 1 forwards,
    fade-in-and-out 11s linear 99s normal 1 forwards,
    fade-in-and-out 11s linear 110s normal 1 forwards,
    fade-in-and-out 11s linear 121s normal 1 forwards,
    fade-in-and-out 11s linear 132s normal 1 forwards,
    fade-in-and-out 11s linear 143s normal 1 forwards,
    fade-in-and-out 11s linear 154s normal 1 forwards,
    fade-in-and-out 11s linear 165s normal 1 forwards,
    fade-in-and-out 11s linear 176s normal 1 forwards,
    fade-in-and-out 11s linear 188s normal 1 forwards;
    /* animation-fill-mode: forwards; */
  }


  @keyframes fade-in-and-out {
    0%  {opacity: 1;}
    10%  {opacity: 1;}
    20%  {opacity: 1;}
    30%  {opacity: 0;}
    40%  {opacity: 0;}
    50%  {opacity: 0;}
    60%  {opacity: 0;}
    70%  {opacity: 0;}
    80%  {opacity: 0;}
    90%  {opacity: 0;}
    100%  {opacity: 0;}
  }  


  #texts-about-cows {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  @media (max-width: 414px) {
    .small-writing {
      font-size: 12px;
    }
  }

   
  .button-container {
    order: -1;
    height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.button-stop {
  height: 31px;
  width: 130px;
  font-size: 17px;
  background-color: #794499;
  color: white;
  text-decoration: none;
  border: none;
}

#sliding-button-galaxy {
  background-color: #794499;
  border: none;
  color: white;
}